/* 文件名：Category.module.css */
.categoryContainer {
  text-align: center;
}

.list {
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.link,
.counter {
  margin: 0 5px;
}
